@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500;700&display=swap');

*{
    margin:0;
    font-family: 'Baloo Tammudu 2', cursive;
};
body{
    background-color: white;
};
header{
    /* background-color: aqua; */
}
.contenido .contenido-header #nav #links{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color:white;
}
li{
    margin:20px;
    list-style:none;
    color:azure;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color:azure;
  }

  a:link {
    color:azure;
  }