@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500;700&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}

.logo {
  width: 50px;
  opacity: 0;
}

body {
  color: black;
  background-color: #ffffff;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}

/* responsive navigation */

/*Navigation*/
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
}

.nav-main ul {
  display: flex;
  transition: 1000ms;
  padding:10px;
  flex-wrap: wrap;
}

.nav-main ul li {
  padding: 0 10px;
  flex-wrap: wrap;
}

.nav-main ul li a {
  padding: 0 2px;
  color: #2c313a;
}

.nav-main ul li a:hover {
  border-bottom: 3px solid #c98de9;;
  color:#c98de9;
}
.nav-main ul .nav-menu {
  flex: 1;
  margin-left: 100px;
  align-items: center;
}

.container {
  width: 100%;
  margin: auto;
  /* background-color: #0a496e50; */
  position: fixed;
  transition: 3000ms;
  

}
.sticky{
  background-color: #c98de9;
  transition: 3000ms;
  /* margin: -20px 0; */
  /* padding: -50px  100px; */
  color:white;
  z-index: 1000;
}

.sticky ul{ 
  transition: 1000ms;
  margin-top:-20px;
  color:white;
}
  .sticky ul li a{ 
    transition: 1000ms;
    padding-top:-20px;
    color:white;
  }
  .sticky ul li a:hover{ 
    border-bottom: 3px solid #ffffff;
    color:#ffffff;
  }
/* showcase */
.showcase {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #f2f2e9;
    display: flex;
    justify-content: center; /* Alinea el contenedor en el centro horizontal */
    align-items: center;
    color: #4D5566;
    height: 100vh;
  }

  
  
  .hero-text {
    font-family: 'Roboto', sans-serif;
    text-align: left; /* Alinea el texto a la izquierda */
    /* line-height: 1; */
    padding-left: 50px;
  }
  
  .hero-image {
    width: 450px;
    height: 500px;
    background-image: url(./img/flor.png);
    background-size: cover;
    padding-right: 30px;
  }

.hero-text h2{
    margin:0;
    /* line-height: 1; */
    
}
span {
    color: rgba(201, 141, 233, 1);
    font-family: 'Roboto', sans-serif;

}
h1 {
    font-size: 50px;
font-family: 'Roboto', sans-serif;
  font-size: 60px;
  margin: 25px 0;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top:40px;
  padding: 20px 25px;
  /* border: 2px solid #fff; */
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
  background-color: rgba(201, 141, 233, 1);
  
}

.btn:hover {
  background: #E59738;
  /* opacity: 0.5; */
}

/* Sobre mí */

.about {
  padding: 200px 0;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f6f5f9' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.text {
  width: 40%;
  text-align: initial;
  padding-left: 100px;
  text-align: justify;
  
}
.text .bajada-titulo{
  color:#E59738;
  text-align: center;
  margin-bottom: 0;
}

.text h2 {
  text-align: center;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  color: #4D5566;
}

.text .separator-container{
  margin-bottom: 20px;
}

.imagensol {
  background-image: url(./img/solange.jpg);
  background-size: contain;
  background-position: center center;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  /* margin-top: -100px; */ /* Ajusta el valor según tus necesidades */
}

/* Mis servicios */

.hero {
  display: flex;
  align-items: center;
  /* max-width: 1150px; */
  width: 100%;
  flex-direction: column;
  margin: auto;
  padding: 100px;
  background-color: #E59738;
  width: 100%;
  background-color: (201, 141, 233, 1);
    display: flex;
    justify-content: center; /* Alinea el contenedor en el centro horizontal */
    align-items: center;
}

.hero h2{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
   /*  margin: 25px 0; */
   color:#ffffff;
}

.bajada{
  text-align: center;
  margin:20px 0;
  width:60%;
  color: white;
  font-size: 14px;
}

.icono {
  width: 100px;
  height: 100px;
  /* border-radius: 200px; */
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: inline-block;
}

.uno {
  width: 80px;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: inline-block;
}


.servicios p {
  text-align: justify;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 12px;
  padding: 0 10px;
  /* line-height: 1.5; */
}
.servicios {
  text-align: center;
  display: flex; /* este es importante para responsive */
  max-width: 1100px;
  flex-wrap: wrap; /* este es importante para responsive */
  justify-content: center; /* este es importante para responsive */
}

/* Acá ninguno es importante para el responsive, solo el padre */
.servicios .card {
  align-items: center;
  justify-content: center;
  width: 300px;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 20px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card:hover {
  transform: translateX(5px);
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}



/* Mis proyectos */

/* Opciones */


.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1150px;
  margin: auto;
  padding: 70px 12px;
  justify-content: center;
  flex-direction: column;
}

.projects h2{
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
   color:#4D5566;
}

.contenedor-1, .contenedor-2, .contenedor-3 {
  text-align: center;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-start; */
 /*  max-width: 1150px; */
  margin: 0 10px;
  border-color: #000000;
}
.show{
  justify-content: center;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.options-container{
  margin-top: 20px;
  display: flex;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: white;
  flex-wrap: wrap;
  border-radius: 1;
}

.options-container ul{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.options-container ul li {
    margin: 10px 20px;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #E59738;
    border-radius: 10px;
    color: #4D5566;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    box-shadow: black;
  }
  
  .bajada-titulo{
    color: white;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
  }
  .options-container ul li:hover {
    background: #E59738;
    color: white;
    /* opacity: 0.5; */
  }

  .options-container ul li.active {
    background: #E59738;
    color: white;
  }

  /* Mis proyectos */
.square {
  align-items: center;
  width: 350px;
  height: 200px;
  margin: 20px 5px;
  overflow: hidden;
  border-color: #000000;
  background-color: rgb(0, 0, 0);
  position: relative;
  display: flex;
  justify-content: center;
}

.portada {
  width: 500px;
  background-position: center center;
  filter: grayscale(0);
}

.square:hover .portada {
  filter: grayscale(1);
}

.info {
  position: absolute;
  background-color: #0a496eb2;
  color: #ffffff;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.info .separator-container{
  position: center;
}

.info p {
  font-family: sans-serif;
  font-size: 14px;
  text-align: left;
}
.square:hover .info {
  opacity: 1;
  bottom: 0;
  font-family: sans-serif;
}

.button-container{
  display: flex;
  justify-content: center;
}

.info .btn{
  margin: 10px 10px;
  /* font-family: sans-serif; */
  display: flex;
  cursor: pointer;
  padding: 5px 5px;
  /* border-radius: 50px; */
  color: #fff;
  transition: 0.5s;
  background-color: rgba(201, 141, 233, 1);
  border: none;
  font-size: 12px;

}


/* carrusel */


.carrousel{
  display: flex;
  padding: 100px 0;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f6f5f9' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.carrousel h2{
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
   /*  margin: 25px 0; */
   color:#4D5566;
}


.pic-ctn {
  width: 100%;
  /* margin-top: 40px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.pic {
 width:300px;
  height: 350px;
  padding: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center; /* Centrar verticalmente los testimonios */
  justify-content: center;
  flex-direction: column;
  margin: 10px 10px;
}

.testimony {
  text-align: justify;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  align-items: center;
  margin: 10px 0; /* Espaciado entre testimonios */
}
.signature-1{
  padding-top: 30px;
  font-size: 13px;
  font-weight:bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.signature-2{
  font-size: 11px;
  color:#4D5566
}



.separator-container{
  position: relative;
  width: 70px;
  height: 13px;
  overflow: hidden;
}

.separator{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  width: 800%;
background-image: url(./img/separador.png);
}

.separator-corriendo{
  animation: animarDino 5s linear infinite alternate;
}

@keyframes animarDino{
  from{
      background-position-x: -400px;
  }
  to{
      background-position-x: -40px;
  }
}

/*FOOTER*/
footer{
  width:100%;
  background-color:#E59738;
  color:#fff;
  justify-content: center;
  text-align: center;
  align-items: center;
  }

  .email{
    font-size: 14px;
    margin: 20px 0;
  }
  .top_header{
  padding:2rem;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  }
  
  .top_header section{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  }
  
  .top_header span{
  padding:0 1rem;
  }
  
  .top_header .fa{
  color:#ffbe00;
  font-size:35px;
  }
  
  footer .border-shape {
  width: 40%;
  }
  
  footer .border-shape::before {
  width: 100%;
  left:120px;
  }
  
  footer .border-shape::after {
  width: 100%;
  right:120px;
  }

  footer .bottom_content section{
  padding:1.5rem 2rem;
  display:flex;
  align-items:center;
  justify-content:Center;
  }

 .icons a{
  margin: 0 20px;
 }

  .bottom_content a:hover{
  color:rgba(255,255,255,1);
  }

  .copyright{
  padding:0.8em 0;
  /* background-color:#19798c; */
  text-align:center;
  color:rgb(248, 248, 248);
  font-size:12px;
  }


/* Mobile-first responsive styles */
@media only screen and (max-width: 800px) {
  .nav-main ul {
    flex-direction: column;
    padding: 0;
  }

  .nav-main ul li {
    padding: 10px 0;
    text-align: center;
  }

  .nav-main ul li a {
    padding: 0;
  }

  .container {
    padding: 0;
    position: static;
    background-color: #f2f2e9;
  }

  .sticky ul {
    margin-top: 0;
  }

  .sticky ul li a {
    padding-top: 0;
  }

  .showcase {
    padding: 100px 0;
    text-align: center;
    height: auto;
  }

  .hero-text {
    text-align: center;
    padding: 0;
  }

  .hero-image {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .about {
    padding: 100px 0;
  }

  .text {
    width: 100%;
    padding: 0 20px;
  }

}

